<o-form editable-detail="yes" service="users" entity="user" keys="user_">
  <div fxFill fxLayout="row" fxLayoutAlign="start">
    <o-column fxFlex="25">
      <o-text-input attr="user_" label="USERNAME" read-only="yes" class="padding-top"></o-text-input>
      <o-text-input attr="name" label="NAME"></o-text-input>
      <o-text-input attr="surname" label="SURNAME"></o-text-input>
      <o-text-input attr="nif" label="NIF"></o-text-input>
      <o-text-input attr="email" label="EMAIL"></o-text-input>
    </o-column>
    <!--<o-table fxFlex="40" class="input-padding" attr="user" service="users" entity="user" keys="user_"
    columns="user_;name;surname" parent-keys="user_:user[user_]" controls="no"
    visible-columns="user_;name;surname" query-rows="20">
    <o-table-column attr="user_" title="USERNAME"></o-table-column>
    <o-table-column attr="name" title="NAME"></o-table-column>
    <o-table-column attr="surname" title="SURNAME"></o-table-column>
    </o-table>-->
    <o-table attr="workloadTable" service="workloads" entity="workload" keys="id"
    insert-button="no" refresh-button="yes" delete-button="yes"
    columns="project_id;project_name;workload_percentage;area_project" parent-keys="user_"
    visible-columns="project_id;project_name;workload_percentage;area_project" query-rows="15">
    <o-table-column attr="project_id" title="ID" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="project_name" title="PROJECTNAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="workload_percentage" title="PERCENTAGE" type="percentage" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="area_project" title="PROJECTAREA" class="o-table-column-centered">
      <o-table-cell-renderer-service service="projects" entity="area" columns="area_id;area_name" value-column="area_name" parent-keys="area_id:area_project"></o-table-cell-renderer-service>
    </o-table-column>
    </o-table>
  </div>
</o-form>
