<o-form editable-detail="false" service="branches" entity="accountBalance" keys="ACCOUNTID" columns="ACCOUNTID;ACCOUNTNUMBER"
  show-header="yes" header-actions="R;D" show-header-navigation="yes" keys-sql-types="INTEGER">
  <!--<o-row>
    <o-text-input class="input-padding" attr="ACCOUNTNUMBER" sql-type="STRING" fxFlex="40"></o-text-input>
    <o-combo attr="OFFICEID" fxFlex="50" service="branches" entity="branch" keys="OFFICEID" columns="OFFICEID;NAME"
      visible-columns="NAME" value-column="OFFICEID" class="input-padding"></o-combo>
    <o-currency-input attr="BALANCE" fxFlex="20" currency-symbol="EUR" max-decimal-digits="2"></o-currency-input>
  </o-row>-->
  <!--<o-row>
    <o-date-input attr="ENDDATE" class="input-padding" fxFlex="20"></o-date-input>
    <o-percent-input attr="INTERESRATE" class="input-padding" fxFlex="20"></o-percent-input>
    <o-text-input  attr="ACCOUNTTYP" sql-type="STRING" fxFlex="60"></o-text-input>
  </o-row>-->
  <!-- insert-form-route="adduser/new" delante de insert button -->
  <o-row>
    <o-table fxFlex="40" class="input-padding" attr="userTable" service="users"
      parent-keys="user_" keys="user_" columns="user_;name;surname" visible-columns="user_;name;surname" query-rows="15"
      insert-button="no" detail-mode="none" refresh-button="no" delete-button="no"
      search-decoration="no">
      <o-table-column attr="user_" title="USERNAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="name" title="NAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="surname" title="SURNAME" class="o-table-column-centered"></o-table-column>
    </o-table>
    <!-- holamundo este parece util workloads-->
    <o-table fxFlex="60" attr="workloadTable" service="workloads" entity="vworkloaduserproject" parent-keys="user_;project_id" keys="id"
      columns="project_id;project_name;workload_percentage" visible-columns="project_id;project_name;workload_percentage" query-rows="15"
      insert-form-route="addWorkload/new"  detail-mode="none" insert-button="yes">
      <o-table-column attr="project_id" title="ID" class="o-table-column-centered"></o-table-column>
      <!-- hacer la transformación del porcentaje -->
      <o-table-column attr="project_name" title="PROJECTNAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="workload_percentage" title="PERCENTAGE" class="o-table-column-centered"></o-table-column>
    </o-table>
  </o-row>
</o-form>
