<o-form editable-detail="true" service="projects" entity="project" keys="project_id" keys-sql-types="integer">
<div fxFill fxLayout="row" fxLayoutAlign="start">
    <o-column fxFlex="30">
      <o-text-input attr="project_id" label="PROJECTID" class="padding-top" read-only="yes"></o-text-input>
      <o-text-input attr="project_name" label="PROJECTNAME"></o-text-input>
      <o-currency-input attr="income" label="INCOME" > </o-currency-input>
      <o-list-picker attr="area_project" label="PROJECTAREA" service="projects" entity="area" keys="area_id" columns="area_id;area_name" visible-columns="area_name" value-column="area_id"></o-list-picker>
      <o-combo attr="priority_id" label="PRIORITY" service="projects" entity="level" keys="valor_nivel" columns="valor_nivel;nivel" visible-columns="nivel" value-column="valor_nivel"  required="yes"></o-combo>
      <o-combo attr="difficulty_id" label="DIFFICULTY" service="projects" entity="level" keys="valor_nivel" columns="valor_nivel;nivel" visible-columns="nivel" value-column="valor_nivel"  required="yes"></o-combo>
    </o-column>

  <o-table fxFlex attr="workloadTable" service="workloads" entity="workload" keys="id"
  insert-button="yes"  insert-form-route="adduser/new" refresh-button="yes" delete-button="yes"
  parent-keys="project_id" columns="user_;name;surname;workload_percentage;area_user" visible-columns="user_;name;surname;workload_percentage;area_user" query-rows="20">
    <o-table-column attr="user_" title="USERNAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="name" title="NAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="surname" title="SURNAME" class="o-table-column-centered"></o-table-column>

    <o-table-column attr="workload_percentage" title="PERCENTAGE" type="percentage" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="area_user" title="USERAREA" class="o-table-column-centered">
      <o-table-cell-renderer-service service="projects" entity="area" columns="area_id;area_name" value-column="area_name" parent-keys="area_id:area_user"></o-table-cell-renderer-service>
    </o-table-column>
  </o-table>
</div>
</o-form>
