<o-form editable-detail="false" service="projects" entity="project" keys="project_id" keys-sql-types="integer">
 <o-row>
    <o-column>
      <o-text-input attr="project_id" label="PROJECTID" class="padding-top"></o-text-input>
      <o-text-input attr="project_name" label="PROJECTNAME"></o-text-input>
    </o-column>
  <o-table fxFlex="85" attr="workloadTable" service="workloads" entity="workload" keys="id"
  insert-button="no" refresh-button="no" delete-button="no"
  parent-keys="project_id" columns="user_;name;surname;workload_percentage;user_area" visible-columns="user_;name;surname;workload_percentage;user_area" query-rows="20">
    <o-table-column attr="user_" title="USERNAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="name" title="NAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="surname" title="SURNAME" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="workload_percentage" title="PERCENTAGE" type="percentage" class="o-table-column-centered"></o-table-column>
    <o-table-column attr="user_area" title="USERAREA" class="o-table-column-centered"></o-table-column>
  </o-table>
  </o-row>
</o-form>
