<div fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table fxFlex attr="userTable" service="users" entity="user" keys="user_"
    insert-button="no" refresh-button="no" delete-button="yes" detail-mode="dblclick"
    columns="user_;name;surname;email;nif;area_user;rolename"
    visible-columns="user_;name;surname;nif;area_user;rolename" query-rows="20" >
    <o-table-column attr="user_" title="USERNAME"></o-table-column>
    <o-table-column attr="name" title="NAME"></o-table-column>
    <o-table-column attr="surname" title="SURNAME"></o-table-column>
    <o-table-column attr="nif" title="NIF"></o-table-column>
    <o-table-column attr="email" title="EMAIL"></o-table-column>
    <o-table-column attr="area_user" title="AREANAME">
      <o-table-cell-renderer-service service="projects" entity="area" columns="area_id;area_name" value-column="area_name" parent-keys="area_id:area_user"></o-table-cell-renderer-service>
    </o-table-column>
    <o-table-column attr="rolename" title="ROLENAME"></o-table-column>
    <!--<o-table-column attr="userblocked" title="USERBLOCKED" type="date"></o-table-column>-->
    <!--<o-table-column attr="lastpasswordupdate" title="LASTPASSWORDUPDATE" type="date" format="LL"></o-table-column>-->
    <!--<o-table-column attr="firstlogin" title="FIRSTLOGIN" type="boolean"></o-table-column>-->
  </o-table>
</div>
