<o-form service="projects" entity="project" keys="project_id" columns="project_id" show-header="yes">
  <o-row>
    <o-date-input attr="creation_date" label="CREATIONDATE" class="input-padding" fxFlex="50" required="yes"></o-date-input>
    <o-date-input attr="delivery_date" label="DELIVERYTIME" class="input-padding" fxFlex="50" required="yes"></o-date-input>
  </o-row>

  <o-row>
<!-- <o-text-input attr="project_id" fxFlex="33" > </o-text-input> -->
    <!-- <o-list-picker attr="project_id" service="projects" entity="project" keys="project_id" columns="project_id" visible-columns="project_id" value-column="project_id" fxFlex="33" required="yes"></o-list-picker> -->
    <o-text-input attr="project_name" label="PROJECTNAME" class="input-padding" fxFlex="50" required="yes"></o-text-input>
    <o-currency-input attr="income" label="INCOME" fxFlex="50"> </o-currency-input>
  </o-row>

    <o-row>
      <!-- <o-text-input attr="id_project_area" class="input-padding" fxFlex="20"></o-text-input>
      <o-text-input attr="area_id" class="input-padding" fxFlex="20"></o-text-input>
      <o-text-input  attr="area_name"s fxFlex="60"></o-text-input> -->

      <o-combo attr="area_project" label="PROJECTAREA" service="projects" entity="area" keys="area_id" columns="area_id;area_name" visible-columns="area_name" value-column="area_id" fxFlex="33"></o-combo>
      <o-combo attr="priority_id" label="PRIORITY" service="projects" entity="level" keys="valor_nivel" columns="valor_nivel;nivel" visible-columns="nivel" value-column="valor_nivel" fxFlex="33" required="yes"></o-combo>
      <o-combo attr="difficulty_id" label="DIFFICULTY" service="projects" entity="level" keys="valor_nivel" columns="valor_nivel;nivel" visible-columns="nivel" value-column="valor_nivel" fxFlex="33" required="yes"></o-combo>
    </o-row>
</o-form>
